body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f5f5;
}

/* HEADER */
header{
    background:#d32f2f;
    color:white;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:bold;
}

/* BANNER */
.banner{
    background:#fff3e0;
    text-align:center;
    padding:40px;
}

/* INTRO */
.intro{
    padding:30px;
    text-align:center;
}

/* PRODUCT */
.product-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:30px;
}

.product{
    background:white;
    border-radius:10px;
    overflow:hidden;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.product img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.product h3{
    margin:10px 0;
}

.price{
    color:#d32f2f;
    font-weight:bold;
}

button{
    background:#d32f2f;
    color:white;
    border:none;
    padding:10px 20px;
    margin-bottom:15px;
    border-radius:5px;
    cursor:pointer;
}

/* FOOTER */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:10px;
}
